<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STYLESHEET }}">
    <title>Charterhouse Tree Care | {{ NAME }}</title>
</head>
<body>
{{ CONTENT }}
<widget name="footer" widget_id="7" text="Charterhouse Tree Care - Copyright 2022" ></widget>
<script src="!HOST!/js/darken-on-scroll.js"></script>
<script src="!HOST!/js/fade-in-on-scroll.js"></script>
<script src="!HOST!/js/widget-gallery.js"></script>
<script src="!HOST!/js/mini-page-search.js"></script>
</body>
</html>