.results-list {
    display: grid;
    grid-gap: 1rem;
  }
  
  .results-list-item {
    display: grid;
    grid-template-columns: 1fr minmax(auto, max-content);
    align-items: center;
  }
  
  .results-list-text {
    grid-column: 1 / 2;
  }
  
  .results-list-item-button {
    grid-column: 2 / 3;
  }
  