$color-primary: #000077;
$color-secondary: #ffff00;
$color-tertiary: #99ccdd;
$color-quaternary: #77aabb;

body {
    margin: 0;
    background-color: $color-tertiary;
}

.float-bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-tiny {
    height: 55vh;
    padding-top: 45vh;
}

.content-small {
    height: 65vh;
    padding-top: 35vh;
}

.content-medium {
    height: 75vh;
    padding-top: 25vh;
}

.content-large {
    height: 80vh;
    padding-top: 20vh;
}

.content-huge {
    height: 90vh;
    padding-top: 10vh;
}

.content-massive {
    height: 95vh;
    padding-top: 5vh;
}

h1 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    margin: 10px;
    font-weight: bold;
}

h2 {
    padding-bottom: 20px;
    font-size: 1.5em;
    color: white;
    font-weight: 100;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 100;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-size: 1em;
    color: white;
    font-weight: 100;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1em;
    color: white;
    font-weight: 100;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
