@media screen and (max-width: 2000px) {
    .hide-media-2000 {
        display: none;
    }

    .block-media-2000 {
        display: block;
    }

    .inline-media-2000 {
        display: inline;
    }

    .inline-block-media-2000 {
        display: inline-block;
    }

    .grid-media-2000 {
        display: grid;
    }

    .flex-media-2000 {
        display: flex;
    }

}

@media screen and (max-width: 1750px) {
    .hide-media-1750 {
        display: none;
    }

    .block-media-1750 {
        display: block;
    }

    .inline-media-1750 {
        display: inline;
    }

    .inline-block-media-1750 {
        display: inline-block;
    }

    .grid-media-1750 {
        display: grid;
    }

    .flex-media-1750 {
        display: flex;
    }

}

@media screen and (max-width: 1500px) {
    .hide-media-1500 {
        display: none;
    }

    .block-media-1500 {
        display: block;
    }

    .inline-media-1500 {
        display: inline;
    }

    .inline-block-media-1500 {
        display: inline-block;
    }

    .grid-media-1500 {
        display: grid;
    }

    .flex-media-1500 {
        display: flex;
    }

}

@media screen and (max-width: 1250px) {
    .hide-media-1250 {
        display: none;
    }

    .block-media-1250 {
        display: block;
    }

    .inline-media-1250 {
        display: inline;
    }

    .inline-block-media-1250 {
        display: inline-block;
    }

    .grid-media-1250 {
        display: grid;
    }

    .flex-media-1250 {
        display: flex;
    }

}

@media screen and (max-width: 1000px) {
    .hide-media-1000 {
        display: none;
    }

    .block-media-1000 {
        display: block;
    }

    .inline-media-1000 {
        display: inline;
    }

    .inline-block-media-1000 {
        display: inline-block;
    }

    .grid-media-1000 {
        display: grid;
    }

    .flex-media-1000 {
        display: flex;
    }

}

@media screen and (max-width: 750px) {
    .hide-media-750 {
        display: none;
    }

    .block-media-750 {
        display: block;
    }

    .inline-media-750 {
        display: inline;
    }

    .inline-block-media-750 {
        display: inline-block;
    }

    .grid-media-750 {
        display: grid;
    }

    .flex-media-750 {
        display: flex;
    }

}

@media screen and (max-width: 500px) {
    .hide-media-500 {
        display: none;
    }

    .block-media-500 {
        display: block;
    }

    .inline-media-500 {
        display: inline;
    }

    .inline-block-media-500 {
        display: inline-block;
    }

    .grid-media-500 {
        display: grid;
    }

    .flex-media-500 {
        display: flex;
    }

}

@media screen and (max-width: 250px) {
    .hide-media-250 {
        display: none;
    }

    .block-media-250 {
        display: block;
    }

    .inline-media-250 {
        display: inline;
    }

    .inline-block-media-250 {
        display: inline-block;
    }

    .grid-media-250 {
        display: grid;
    }

    .flex-media-250 {
        display: flex;
    }

}