.gallery-container {
    width: 70%;
    margin: auto;
    .gallery {

        text-align: left;

        h1 {
            font-size: 2.4em;
            font-weight: 700;
            margin: 10px;
        }

        .gallery-images {
            display: grid;
            height: 60vh;
            margin: 10px;
            max-width: 100%;

            .gallery-column {
                display: grid;
                height: 100%;

                .gallery-image {
                    margin: 5px;
                    overflow: hidden;
                    object-fit: cover;
                    width: 99%;
                    height: 99%;
                    transition: transform 0.04s ease-in-out;
                }
            }
        }
    }
}